


// Espai per modificar estils 
$primary: #D9D9D9;
$secondary:#252525;
$success:#00412d;
$info:#f1ab42;
@import "/../node_modules/bootstrap/scss/bootstrap";



// Espai per afegir nous estils, si s'escau
